# TASK SOLUTION: 24th July 2022
We have Attribute Dataset and Dress Sales Dataset. These are connected to each other based on Dress_ID. Perform the Following Task:

1.Create a Table of attribute dataset and dress dataset in mysql workbench/python
2.Do a bulk load for these 2 tables for respective dataset in mysql workbench/python
3.Read these datasets in pandas as a dataframe
4.Convert Attribute Dataset in JSON Format (.to_json will be used)
5.Store this json dataset into mongodb (Insert_many will be used)
6.In SQL task, try to perform left join operation with Attribute dataset and dress dataset on column Dress_ID
7.Write the SQL query to find out how many unique dress that we have based on Dress_ID
8.Try to find out how many dress is having recommendation as 0
9.Try to find out total dress sales for each and every Dress_ID
10.Try to find out the third highest most selling Dress_ID

In [ ]:
#Task1 and 2-Create a Table of attribute dataset and dress dataset in mysql workbench/python
#Do a bulk load for these 2 tables for respective dataset in mysql workbench/python

#Done on mysqlworkbench
#Created database
create database ineurontask1234;
use ineurontask1234;


create table task1ineuron1(
dress_id int ,
style varchar(30) , 
price varchar(30) , 
rating varchar(19) ,
size varchar(30),
season varchar(30),
neckline varchar(30),
sleevelength varchar(30) , 
waiseline varchar(30) ,
material varchar(30) , 
fabrictype varchar(30) , 
decoration varchar(30) , 
patterntype varchar(30) , 
recommendation int);

#enter Attribute dataset
LOAD DATA INFILE "D:/attribute_dataset.csv" INTO TABLE task1ineuron1
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n';
select * from task1ineuron1

In [ ]:
#Task 1 and 2-dresssales-executed and sunned sucessfully on mysql
create table task1ineuron2(
dress_id int ,
`29/8/2013` int , 
`31/8/2013` int , 
`2/9/2013` int ,
`4/9/2013` int ,
`6/9/2013` int,
`8/9/2013` int,
`10/9/2013` int , 
`12/9/2013` int ,
`14/9/2013` int , 
`16/9/2013` int , 
`18/9/2013` int , 
`20/9/2013` int , 
`22/9/2013` int ,
`24/9/2013` int ,
`26/9/2013` int ,
`28/9/2013` int ,
`30/9/2013` int ,
`2/10/2013` int ,
`4/10/2013` int ,
`6/10/2013` int ,
`8/10/2013` int ,
`10/10/2013` int ,
`12/10/2013` int);
select *from task1ineuron2;


LOAD DATA INFILE "D:\dresssales.csv" INTO TABLE task1ineuron2
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 lines;
select * from task1ineuron2;

In [1]:
#Task-3
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\sharanya\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [3]:
#Task3-Read these datasets in pandas as a dataframe
import mysql.connector as connection
import pandas as pd
mydb = connection.connect(host = "Localhost", user = "root", passwd = "mysql", use_pure = True)
print(mydb)

#Run SQL
sql_query1 = pd.read_sql('select * from ineurontask1234.task1ineuron1', mydb)
sql_query2 = pd.read_sql('select * from ineurontask1234.task1ineuron2', mydb)


#Convert SQL to DataFrame
attribute_data = pd.DataFrame(sql_query1, columns = ['dress_id', 'style', 'price','rating','size','season','neckline',
                                        'sleevelength','waiseline','material','fabrictype','decoration',
                                        'patterntype','recommendation'])

dress_sales = pd.DataFrame(sql_query2, columns = ['dress_id','29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013',
                                        '12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','24/9/2013'
                                        '24/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013',
                                        '8/10/2013','10/10/2013','12/10/2013'])


print(attribute_data) #Coming Correctly
print(dress_sales) #Coming Correctly

<mysql.connector.connection.MySQLConnection object at 0x000002A97939E1C0>

C:\Users\Sharanya\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
C:\Users\Sharanya\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       dress_id     style    price rating  size  season   neckline  \
0    1212192089    Casual      Low      0     L  Summer     o-neck
1    1190380701   vintage     High      0     L  Automn     o-neck
2     966005983     Brief  Average    4.6     L  Spring     o-neck
3     876339541      cute      Low    4.5     M  Summer     o-neck
4    1068332458  bohemian      Low      0     M  Summer     v-neck
..          ...       ...      ...    ...   ...     ...        ...
994   713391965    Casual      Low    4.7     M  Spring     o-neck
995   722565148      Sexy      Low    4.3  free  Summer     o-neck
996   532874347    Casual  Average    4.7     M  Summer     v-neck
997   655464934    Casual  Average    4.6     L  winter  boat-neck
998   919930954    Casual      Low    4.4  free  Summer     v-neck

    sleevelength waiseline       material  fabrictype  decoration patterntype  \
0          Petal   natural     microfiber                 ruffles      animal
1           full   natural       polyster                               print
2           full   natural           silk     chiffon  embroidary       print
3      butterfly   natural  chiffonfabric     chiffon         bow         dot
4      sleevless    empire                                              print
..           ...       ...            ...         ...         ...         ...
994         full   natural       polyster                               solid
995         full    empire         cotton
996         full    empire         cotton                    lace       solid
997    sleevless    empire           silk  broadcloth    applique       print
998        short    empire         cotton    Corduroy        lace       solid

     recommendation
0                 0
1                 0
2                 1
3                 0
4                 0
..              ...
994               1
995               0
996               1
997               1
998               0

[999 rows x 14 columns]
       dress_id  29/8/2013  31/8/2013  2/9/2013  4/9/2013  6/9/2013  8/9/2013  \
0    1006032852       2114       2274      2491      2660      2727      2887
1    1212192089        151        275       570       750       813      1066
2    1190380701          6          7         7         7         8         8
3     966005983       1005       1128      1326      1455      1507      1621
4     876339541        996       1175      1304      1396      1432      1559
..          ...        ...        ...       ...       ...       ...       ...
495   713391965          0          0         0       560       554       544
496   722565148          0          0         0       875       866       861
497   532874347          0          0         0       734       728       726
498   655464934          0          0         0       254       259       261
499   919930954          0          0         0       538       545       558

     10/9/2013  12/9/2013  14/9/2013  ...  24/9/201324/9/2013  26/9/2013  \
0         2930       3119       3204  ...                 NaN       3624
1         1164       1558       1756  ...                 NaN       2942
2            9         10         10  ...                 NaN         11
3         1637       1723       1746  ...                 NaN       1892
4         1570       1638       1655  ...                 NaN       2156
..         ...        ...        ...  ...                 ...        ...
495        537        525        519  ...                 NaN        388
496        854        850        844  ...                 NaN        866
497        715        694        690  ...                 NaN        597
498        263        268        270  ...                 NaN        256
499        563        578        585  ...                 NaN        632

     28/9/2013  30/9/2013  2/10/2013  4/10/2013  6/10/2013  8/10/2013  \
0         3706       3746       3795       3832       3897       3923
1         3258       3354       3475       3654       3911       4024
2           11         11         11         11         11         11
3         1914       1924       1929       1941       1952       1955
4         2252       2312       2387       2459       2544       2614
..         ...        ...        ...        ...        ...        ...
495        360        364        372        377        380        382
496        882        888        895        898        906        913
497        586        569        561        555        551        546
498        255        254        253        250        249        249
499        639        645        651        655        660        668

     10/10/2013  12/10/2013
0          3985        4048
1          4125        4277
2            11          11
3          1959        1963
4          2693        2736
..          ...         ...
495         384         285
496         919         931
497         535         520
498         249         248
499         674         680

[500 rows x 24 columns]

In [10]:
#Task4-Convert Attribute Dataset in JSON Format (.to_json will be used)
attribute_data_json=attribute_data.to_json()
attribute_data_json

str

In [13]:
#Task5-Store this json dataset into mongodb (Insert_many will be used)
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.2.0-cp39-cp39-win_amd64.whl (374 kB)
Installing collected packages: pymongo
Successfully installed pymongo-4.2.0

In [15]:
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\sharanya\anaconda3\lib\site-packages (4.2.0)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [18]:
!pip install dnspython==2.0.0

Collecting dnspython==2.0.0
  Downloading dnspython-2.0.0-py3-none-any.whl (208 kB)
Installing collected packages: dnspython
  Attempting uninstall: dnspython
    Found existing installation: dnspython 2.2.1
    Uninstalling dnspython-2.2.1:
      Successfully uninstalled dnspython-2.2.1
Successfully installed dnspython-2.0.0

In [ ]:
import pymongo
import json

from pymongo import MongoClient, InsertOne
client = pymongo.MongoClient("mongodb+srv://sharanya:urspassword@sharanya.30gyscv.mongodb.net/?retryWrites=true&w=majority") #Connectivity between python and MongoDB
db2 = client.test

#Creating Database
database = client['ineurontask1234']

collection = database["Json"]


print(attribute_data_json)

#Storing JSON Data into MongoDB
#Loading or Opening the json file
with open(r"C:\Users\Sharanya\Downloads\test.json") as file:
    file_data = json.load(file)

# Inserting the loaded data in the Collection
# if JSON contains data more than one entry
# insert_many is used else insert_one is used

if isinstance(file_data, list):
    collection.insert_many(file_data)
else:
    collection.insert_one(file_data)

In [21]:
#Task 6-Left Join with Attribute Dataset and Dress Sales Dataset

joined_data = pd.merge(attribute_data,dress_sales,how = 'left',on = 'dress_id')
print(joined_data)

        dress_id     style    price rating  size  season   neckline  \
0     1212192089    Casual      Low      0     L  Summer     o-neck
1     1190380701   vintage     High      0     L  Automn     o-neck
2      966005983     Brief  Average    4.6     L  Spring     o-neck
3      876339541      cute      Low    4.5     M  Summer     o-neck
4     1068332458  bohemian      Low      0     M  Summer     v-neck
...          ...       ...      ...    ...   ...     ...        ...
1094   722565148      Sexy      Low    4.3  free  Summer     o-neck
1095   722565148      Sexy      Low    4.3  free  Summer     o-neck
1096   532874347    Casual  Average    4.7     M  Summer     v-neck
1097   655464934    Casual  Average    4.6     L  winter  boat-neck
1098   919930954    Casual      Low    4.4  free  Summer     v-neck

     sleevelength waiseline       material  ... 24/9/201324/9/2013 26/9/2013  \
0           Petal   natural     microfiber  ...                NaN      2942
1            full   natural       polyster  ...                NaN        11
2            full   natural           silk  ...                NaN      1892
3       butterfly   natural  chiffonfabric  ...                NaN      2156
4       sleevless    empire                 ...                NaN        25
...           ...       ...            ...  ...                ...       ...
1094         full    empire         cotton  ...                NaN         0
1095         full    empire         cotton  ...                NaN       866
1096         full    empire         cotton  ...                NaN       597
1097    sleevless    empire           silk  ...                NaN       256
1098        short    empire         cotton  ...                NaN       632

     28/9/2013  30/9/2013  2/10/2013  4/10/2013  6/10/2013  8/10/2013  \
0         3258       3354       3475       3654       3911       4024
1           11         11         11         11         11         11
2         1914       1924       1929       1941       1952       1955
3         2252       2312       2387       2459       2544       2614
4           26         26         26         26         27         27
...        ...        ...        ...        ...        ...        ...
1094       882          0          0          0        906          0
1095       882        888        895        898        906        913
1096       586        569        561        555        551        546
1097       255        254        253        250        249        249
1098       639        645        651        655        660        668

      10/10/2013  12/10/2013
0           4125        4277
1             11          11
2           1959        1963
3           2693        2736
4             27          27
...          ...         ...
1094           0         931
1095         919         931
1096         535         520
1097         249         248
1098         674         680

[1099 rows x 37 columns]

In [23]:
#Task7-Write the SQL query to find out how many unique dress that we have based on Dress_ID
import mysql.connector as connection
import pandas as pd
mydb = connection.connect(host = "Localhost", user = "root", passwd = "mysql", use_pure = True)
cursor = mydb.cursor()
cursor.execute("select count(distinct(dress_id)) from ineurontask1234.task1ineuron1")
for i in cursor.fetchall():
  print(i)

(475,)

In [24]:
#Task8-Try to find out how many dress is having recommendation as 0
print((attribute_data.recommendation == 0).sum())
#fromsql-select count(*) from task1ineuron1 where recommendation=0;

580

In [29]:
#Task9-Try to find out total dress sales for each and every Dress_ID
dress_sales['Sales'] = dress_sales[['29/8/2013', '31/8/2013', '2/9/2013','4/9/2013','6/9/2013','8/9/2013','10/9/2013','12/9/2013','14/9/2013','16/9/2013','18/9/2013','20/9/2013','22/9/2013','26/9/2013','28/9/2013','30/9/2013','2/10/2013','4/10/2013','6/10/2013','8/10/2013','10/10/2013','12/10/2013']].agg('sum', axis=1)
print(dress_sales.groupby('dress_id')['Sales'].sum())

dress_id
444282011      1650
510519284      2672
511503677     11547
520233308     10360
522776523      8821
              ...
1246749980     6179
1246945687      980
1249825438     1713
1250787559       38
1253973206     2231
Name: Sales, Length: 475, dtype: int64

In [30]:
#Task 10
#Try to find out the third highest most selling Dress_ID
sales_data = dress_sales.groupby('dress_id')['Sales'].sum().reset_index().rename(columns={'sum':'Sales','dress_id' : 'dress_id'})
print(sales_data)
print(sales_data.Sales.nlargest(3).iloc[-1])

       dress_id  Sales
0     444282011   1650
1     510519284   2672
2     511503677  11547
3     520233308  10360
4     522776523   8821
..          ...    ...
470  1246749980   6179
471  1246945687    980
472  1249825438   1713
473  1250787559     38
474  1253973206   2231

[475 rows x 2 columns]
72425